body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9c9c9c;
}

#game-zone {
    position: relative;
    width: 800px; /* largeur fixe du cadre */
    height: 600px; /* hauteur fixe */
    background: #f0f0f0;
    overflow: hidden;
    border: 4px solid #402f80; /* contour visible pour le cadre */
    border-radius: 10px; /* coins arrondis */
    margin: 2rem auto; /* centré horizontalement */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 166, 0, 1);
    opacity: 0;
    animation: anim 8s forwards ease-in-out;
}

@keyframes anim {
    to {
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}

h3 {
    font-size: 5rem;
    color: #402f80;
    margin: 1rem;
}
#restart-btn {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

#lives {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: red;
}
.hidden {
    display: none;
}

#game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#game-over-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#game-over-content button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
