{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div id="bubble-background"></div>

	<div class="form-container">
		<div class="form-box">
			<h2>Inscription</h2>
			<form method="post" action="{{ path('app_register') }}" data-turbo="false">
				<label>Pseudo :
					<input type="text" name="pseudo" required>
				</label><br><br>

				<label>Mot de passe :
					<input type="password" name="password" required>
				</label><br><br>

				<button type="submit">S’inscrire</button>
			</form>

			<a href="{{ path('login') }}">Se connecter</a>
		</div>
	</div>

{% endblock %}
